/*
HTML selectors
-----------------------------------------
*/
body{
		font-family: Verdana, Arial, sans-serif;
		margin: 0px; /* takes the top element to the very top of the browser */
}

header{
		background-color: red;
}

footer{
		background-color: green;
}

/*
 ID selectors
-----------------------------------------
*/
#container{
}

#main_nav ul{
		border: 1px solid black;
		list-style: none;
}

#main_nav li{
		display: inline;
}

#main_nav a{
		text-decoration: none;
}

#main_content{
		position: relative;
}

/*
 Class selectors
-----------------------------------------
*/

/*
 selectors
-----------------------------------------
*/