/*
HTML selectors
-----------------------------------------
*/
body{
		font-family: Verdana, Arial, sans-serif;
		margin: 0px; /* takes the top element to the very top of the browser */
}

header{
		background-color: red;
}

footer{
		background-color: green;
}

/*
 ID selectors
-----------------------------------------
*/
#container{
}

#main_content{
		position: relative;
}

/*
 Class selectors
-----------------------------------------
*/

/*
 selectors
-----------------------------------------
*/